.home {
}

.bg-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-video{
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}


.hero-section {
  position: absolute;
  text-align: center;
  width: 100%;
}



.hero-title-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
}

.hero-title {
font-size: 60px;
}

.hero-description {
  font-size: 30px;
}


.movies-tv-section {
display: block;
}

.posters-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.media-poster{
  text-decoration: none;
}
.poster-info{
  color: white;
  text-decoration: none;
}
.movies-tv-title {
  font-size: 40px;
  color: white;
}

.features-grid{
  display: flex;
  justify-content: center;
  column-gap: 120px;
  row-gap: 0px;
}
.features-title{
  font-size: 40px;
  color: white;
}

.feature-item{
  display: flex;
  align-items: center;
  background-color: rgb(136, 2, 2);
  font-size: 32px;
  margin-right: 10px;
  padding: 10px;
}

.feature-text{
  color: white;
  margin-left: 10px;
  margin-bottom: 0;
}

.feature-icon{
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px){

  .hero-title{
    font-size: 22px;
  }
  .hero-description{
    font-size: 20px;
  }

  /* .hero-video{
    height: 100%;
    width: 400px;
  } */

.features-grid{
  display: grid;
  width: 100%;
  gap: 10px;
}

.feature-item{
  margin: 0;
}

.feature-text{
  margin-left:40px
}
}